#footer-copyright{
    color: rgba(255, 255, 255, 0.884);
}

#footer-div{
    background-color:rgba(0, 0, 0, 0.925);

}

#footer-list{
    display: inline;
    background-color:rgba(0, 0, 0, 0.925);


}
#footer-link{
    color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
